@import "App";

.leftPanel {
  width: 80%;
  background-color: var(--lightSecondary);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  .leftPanelHeader {
    height: 60px;
    position: relative;
    .title {
      line-height: 60px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
.cardsContainer {
  // virtual scrolling
  height: 500px;
  overflow-y: auto;
}

@media screen and (min-width: $screen_breakpoint) {
  .leftPanel {
    width: 50%;
  }
}
