@import "App";

.leftPanel {
  width: 80%;
  background-color: var(--lightSecondary);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  h3 {
    margin: 20px auto;
    font-size: 24px;
    font-weight: bold;
  }
}

@media screen and (min-width: $screen_breakpoint) {
  .leftPanel {
    width: 50%;
  }
}
