@import "App";
.mainPanel {
  background-color: var(--lightMain);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 0px;
  padding-top: 50px;
}
.mobile {
  display: none;
}
@media screen and (min-width: $screen_breakpoint) {
  .mobile {
    display: block;
  }
  .mainPanel {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 0px;
  }
}
