.leftNewsCard {
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
  font-family: var(--font);
  background-color: var(--lightMain);
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 120px;
  .urlToImage {
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  .titleAuthorAndDate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    p {
      width: 100%;
    }
  }
  .title {
    font-weight: 700;
    line-height: 25px;
  }
  .authorAndDate {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 14px;
      color: var(--darkGray);
      font-style: italic;
      &:nth-child(2) {
        text-align: right;
        max-width: 60%;
      }
    }
  }
}
.rightNewsCard {
  border-radius: 10px 10px 10px 10px;
  margin: 5px auto;
  padding: 5px;
  background-color: var(--lightMain);
  font-family: var(--font);
  min-height: 60px;

  .imgAndTitle {
    display: flex;
    text-align: left;
    align-items: center;
    .urlToImage {
      border-radius: 10px 10px 10px 10px;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    .title {
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}
