.newsCard {
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto;
  padding: 10px;
  // min-height: 100px;
  background-color: #e3bfb7;
}

.imgAndTitle {
  display: flex;
  text-align: left;
  p {
    margin-left: 10px;
  }
}
.description {
  margin: 10px auto;
  font-size: 14px;
  text-align: left;
  line-height: 100%;
}
.authorAndDate {
  margin: auto auto 0px auto;
  font-size: 14px;
  text-align: right;

  // display: flex;
  // justify-content: space-around;
}

.urlToImage {
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
