.leftNewsCard {
  // border: 1px solid #000;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto;
  padding: 10px;
  font-family: var(--newsCard_Font);
  background-color: var(--newsCard_bcg);
  .imgAndTitle {
    display: flex;
    text-align: left;
    align-items: center;
    height: 100px;

    .urlToImage {
      border-radius: 10px 10px 10px 10px;
      width: 150px;
      height: 100%;
      object-fit: cover;
    }
    .titleAuthorAndDate {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .title {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
    }
    .authorAndDate {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 12px;
        color: var(--darkGray);
        font-style: italic;
      }
    }
    .description {
      margin: 10px auto 0px;
      font-size: 14px;
      text-align: left;
      line-height: 20px;
    }
  }
}

.rightNewsCard {
  border-radius: 10px 10px 10px 10px;
  margin: 5px auto;
  padding: 5px;
  background-color: var(--lightGray);
  .imgAndTitle {
    display: flex;
    text-align: left;
    align-items: center;
    .urlToImage {
      border-radius: 10px 10px 10px 10px;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    .title {
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}
