.rightPanel {
  margin: 10px;
  width: 30%;
  height: 100%;
  background-color: var(--lightSecondary);
  padding: 10px;
  border-radius: 10px;
  .title {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
  }
}
.cardsContainer {
  height: 500px;
  overflow-y: auto;
}
