.categoryBtn {
  display: inline-block;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid #000;
  margin: 10px;
  padding: 5px;
  //   width: 120px;
  // height: 25px;
  // line-height: 25px;
  text-align: center;
  cursor: pointer;
}
