@import "App";
.categoryBtn {
  cursor: pointer;
}

@media screen and (min-width: $screen_breakpoint) {
  .categoryBtn {
    display: inline-block;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
  }
}
