@import "App";
.categoryBtn {
  cursor: pointer;
}

@media screen and (min-width: $screen_breakpoint) {
  .categoryBtn {
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--font);
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    text-align: center;
  }
  .clicked {
    background: var(--lightMain);
    border: 1px solid var(--lightLine);
    border-bottom: none;
  }
}
