$screen_breakpoint: 768px;

.App {
  text-align: center;
  color: var(--fontColor);
}

:root {
  --major: #ff6600;
  --gray: #757575;
  --lightMain: #f3f3f3;
  --lightSecondary: #fafafa;
  --lightLine: #adadad;
  --white: #ffffff;
  --black: #000000;
  --lightText: #e9e9f3;
  --darkText: #1f2a38;
  --font: Arial;
  --fontColor: #000000;
  --searchbarColor: #f3f3f3;
  --iconColor: #000000;
}

[data-theme="dark"] {
  --major: #ff6600;
  --gray: #757575;
  --lightMain: #3a3a3a;
  --lightSecondary: #585858;
  --lightLine: #828282;
  --white: #ffffff;
  --black: #000000;
  --lightText: #e9e9f3;
  --darkText: #1f2a38;
  --font: Arial;
  --fontColor: #ffffff;
  --searchbarColor: #3a3a3a;
  --iconColor: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
